    <li> <i class='fas fa-caret-right'></i>
        {{burger_name}}
        <button class="btn btn-info" id="devoured-class" class="btn btn-info" id="X" data-id="{{devoured}}" data-devoured="{{1}}">
		{{#if 1}}Devoured{{else}}Devour it!{{/if}}
	</button> 

	
    </li>
 